:root {
  /* --- PALETA MIRANDANET --- */
  --primary: #2F9AFF;       /* Azul vibrante */
  --primary-hover: #1c85e8;
  
  --dark-bg: #1E293B;       /* Sidebar oscuro */
  --dark-text: #E2E8F0;
  
  --body-bg: #F8FAFC;       /* Fondo gris muy claro */
  --card-bg: #FFFFFF;       /* Fondo blanco */
  
  --text-main: #0F172A;
  --text-muted: #64748B;
  --border: #E2E8F0;

  /* --- ESTADOS --- */
  --danger: #EF4444;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: var(--body-bg);
  color: var(--text-main);
}